@charset "UTF-8";
/***
    The new CSS reset - version 1.8.2 (last updated 23.12.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;600;700&display=swap");
*:where(:not(html):not(iframe):not(canvas):not(img):not(svg):not(video):not(audio):not(svg *):not(symbol *)) {
  all: unset;
  display: revert; }

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert; }

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none; }

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%; }

/* removes spacing between cells in tables */
table {
  border-collapse: collapse; }

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto; }

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert; }

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert; }

/* preformatted text - use only for this feature */
pre {
  all: revert; }

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset; }

/* remove default dot (•) sign */
::marker {
  content: ""; }

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none; }

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto; }

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element; }

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert; }

h1, h2, .ContentBox--box-title, h3 {
  margin-bottom: 30px; }

h1,
.as-h1 {
  border: 2px solid #3ddee2;
  color: #3ddee2;
  display: flex;
  flex-flow: column;
  font-family: 'Bebas Neue';
  font-size: 3.8rem;
  font-weight: 400;
  line-height: 58px; }
  @media (max-width: 899px) {
    h1,
    .as-h1 {
      font-size: 3.4rem; } }
  h1 > span,
  .as-h1 > span {
    flex: 1;
    padding: 20px 0 5px; }
    h1 > span:not(:last-of-type),
    .as-h1 > span:not(:last-of-type) {
      border-bottom: 2px solid #3ddee2; }

.header--black, header[data-variant='general'] h1 {
  color: #000;
  border-color: #000; }
  .header--black span, header[data-variant='general'] h1 span {
    border: 2px solid #000; }
    .header--black span:not(:last-of-type), header[data-variant='general'] h1 span:not(:last-of-type) {
      border-bottom: 2px solid #000; }

h2, .ContentBox--box-title,
.as-h2,
[data-page='contact'] .contact__box .flex--item:first-child {
  color: #fefefe;
  font-family: 'Bebas Neue';
  font-size: 3.5rem;
  font-weight: bold; }
  @media (max-width: 899px) {
    h2, .ContentBox--box-title,
    .as-h2,
    [data-page='contact'] .contact__box .flex--item:first-child {
      font-size: 2.9rem; } }
  h2.header--black, .header--black.ContentBox--box-title, header[data-variant='general'] h1.ContentBox--box-title,
  .as-h2.header--black,
  header[data-variant='general'] h1.as-h2,
  header[data-variant='general'] [data-page='contact'] .contact__box h1.flex--item:first-child,
  [data-page='contact'] .contact__box header[data-variant='general'] h1.flex--item:first-child,
  [data-page='contact'] .contact__box .header--black.flex--item:first-child {
    color: #000; }

h3,
.as-h3 {
  color: #fefefe;
  font-size: 3rem;
  font-weight: 600;
  display: inline;
  line-height: 3rem; }
  @media (max-width: 899px) {
    h3,
    .as-h3 {
      font-size: 2.6rem; } }
  h3.header--solid,
  .as-h3.header--solid {
    background-color: #fefefe;
    color: #000;
    display: inline; }
  h3.header--framed, .ToggleBox--toggler,
  .as-h3.header--framed {
    border: 1px solid #5f5f5f;
    color: #5f5f5f;
    display: block;
    font-family: 'Bebas Neue';
    padding: 20px 50px 0.7rem; }

h4,
.as-h4,
[data-page='blog'] .articles article .article--title {
  font-size: 2rem;
  font-weight: bold; }
  @media (max-width: 899px) {
    h4,
    .as-h4,
    [data-page='blog'] .articles article .article--title {
      font-size: 1.8rem; } }
  h4.header--solid,
  .as-h4.header--solid,
  [data-page='blog'] .articles article .header--solid.article--title {
    background-color: #fefefe;
    color: #000;
    display: inline; }

h5,
.as-h5 {
  font-size: 1rem;
  font-weight: bold; }

p {
  font-size: 1rem;
  line-height: 1.6rem; }
  p:not(:last-child) {
    margin-bottom: 50px; }
    @media (max-width: 899px) {
      p:not(:last-child) {
        margin-bottom: 20px; } }

dl dt {
  font-size: 1rem;
  line-height: 1.6rem;
  font-size: 1rem;
  font-weight: bold;
  margin: 2rem 0 1rem; }

dl dd {
  font-size: 1rem;
  line-height: 1.6rem;
  font-size: 1rem;
  font-weight: normal; }
  dl dd p {
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: normal; }
    dl dd p:not(:last-child) {
      margin-bottom: 1rem; }

dl.numbered-list {
  counter-reset: list-counter 0; }
  dl.numbered-list dt {
    counter-increment: list-counter 1; }
    dl.numbered-list dt::before {
      content: counter(list-counter) ". "; }

[a-center] {
  text-align: center; }

[a-left] {
  text-align: left; }

[a-right] {
  text-align: right; }

/*
 * LAYOUT
 */
body {
  background-color: #000;
  color: #fefefe;
  font-family: Helvetica;
  font-size: 15px;
  font-weight: bold; }

.page {
  padding-top: 73px; }
  @media (min-width: 900px) {
    .page {
      margin: 0 auto;
      max-width: 1215px;
      min-width: 900px;
      min-height: 100vh;
      padding-bottom: 30px; } }

header {
  border: 1px solid #5f5f5f;
  border-top: none;
  padding: 50px 50px 150px; }
  header h1 {
    margin-bottom: 0; }
    header h1 span {
      padding-left: 20px;
      padding-right: 20px; }
    @media (min-width: 900px) {
      header h1 {
        min-height: 150px;
        width: calc(50% - 50px); } }
  header + .subheader {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.7rem;
    padding: 30px; }
    @media (max-width: 899px) {
      header + .subheader {
        font-size: 1.5rem;
        line-height: 2.2rem; } }
    @media (min-width: 900px) {
      header + .subheader {
        padding: 50px;
        border-top: none;
        border: 1px solid #5f5f5f;
        margin-bottom: 50px; } }
  header[data-variant='cover'] {
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain; }
  header[data-variant='general'] {
    background-image: url("./imgs/content-box.png");
    background-repeat: repeat;
    background-position: top left;
    padding: 20px; }
    header[data-variant='general'] .header--wrapper {
      border: 2px solid #000;
      padding: 30px 30px 50px; }
      @media (max-width: 899px) {
        header[data-variant='general'] .header--wrapper {
          padding: 0;
          border: none; } }
    @media (max-width: 899px) {
      header[data-variant='general'] h1 {
        padding: 50px 0; }
        header[data-variant='general'] h1 > span {
          border: none; } }
  @media (max-width: 899px) {
    header {
      background-position: 75% 0%;
      border-left: none;
      padding: 20px; }
      header[data-variant='cover'] {
        background-size: auto;
        background-position: center; }
        header[data-variant='cover'] h1 {
          background-color: rgba(61, 222, 226, 0.2); } }

.content {
  margin-top: 50px; }
  @media (max-width: 899px) {
    .content {
      margin-top: 20px;
      padding: 0 20px; } }
  @media (min-width: 900px) {
    .content section .flexBox > .flex--item:not(:last-child) {
      margin-right: 25px; }
    .content section .flexBox > .flex--item:not(:first-child) {
      margin-left: 25px; } }

footer {
  margin-top: 50px; }
  footer form {
    flex-flow: column;
    padding: 0 50px; }
    @media (max-width: 899px) {
      footer form {
        padding: 0 1rem;
        margin: 1rem 0; } }
    footer form input {
      border-bottom: 2px solid #5f5f5f;
      padding: 1rem 0;
      width: 100%; }
    footer form button {
      border: none;
      color: #3ddee2;
      cursor: pointer;
      font-size: 1.5rem;
      padding: 0;
      position: relative;
      font-weight: bold;
      float: right;
      margin-top: -2.5rem;
      width: auto; }
      footer form button:hover {
        background-color: transparent;
        color: #3ddee2; }
  footer .footer__links {
    padding-left: 20px; }
    @media (max-width: 899px) {
      footer .footer__links {
        padding-left: 0;
        flex-flow: row; } }
    @media (max-width: 899px) {
      footer .footer__links ul:not(:last-child) {
        padding-left: 0;
        margin: 0 20px; } }
    footer .footer__links a {
      font-size: 1rem; }
      @media (min-width: 900px) {
        footer .footer__links a {
          line-height: 1.8rem; } }
  footer .copyright {
    color: #979797;
    font-size: 0.8rem;
    font-weight: normal;
    text-align: right; }
    @media (min-width: 900px) {
      footer .copyright {
        padding-right: 50px; } }
    @media (max-width: 899px) {
      footer .copyright {
        line-height: 3rem;
        text-align: center; } }

@media (min-width: 900px) {
  [single-column] {
    margin: auto;
    width: 50%; } }

section + section,
.delimeter + section, section +
.delimeter,
.delimeter +
.delimeter {
  margin-top: 50px; }

.indent {
  margin-left: 50px;
  margin-right: 50px; }
  @media (max-width: 899px) {
    .indent {
      margin-left: 0.75rem;
      margin-right: 0.75rem; } }

.Menu {
  align-items: center;
  background-color: #000;
  border-bottom: 1px solid #5f5f5f;
  display: flex;
  font-family: Jura, Helvetica;
  font-size: 1rem;
  font-weight: 600;
  height: 75px;
  justify-content: space-between;
  padding: 0 50px 0 0;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  z-index: 100; }
  @media (min-width: 900px) {
    .Menu {
      border-left: 1px solid #5f5f5f;
      max-width: 1215px;
      min-width: 900px; } }
  .Menu--logo {
    background: url("./imgs/audura-logo.png") no-repeat 50px center;
    background-size: 131px 20px;
    flex: 1;
    height: 75px;
    width: 100%; }
    .Menu--logo:hover {
      background-image: url("./imgs/audura-logo-hover.png"); }
  .Menu--links {
    align-items: center;
    display: flex;
    height: 100%; }
    .Menu--links > a {
      align-items: center;
      border-bottom: 4px solid transparent;
      display: flex;
      flex: 0 1 0%;
      height: 100%;
      white-space: nowrap;
      margin-right: 50px; }
      .Menu--links > a.active {
        color: #3ddee2;
        border-bottom-color: #3ddee2; }
      .Menu--links > a:hover {
        color: #fefefe;
        border-bottom-color: #5f5f5f; }
  .Menu--language {
    align-items: center;
    display: block;
    flex-flow: column;
    position: absolute;
    width: 75px;
    top: 0;
    right: 1px; }
    .Menu--language > a {
      align-items: center;
      border-right: 1px solid #5f5f5f;
      border-left: 1px solid #5f5f5f;
      border-bottom: none;
      display: flex;
      height: 75px;
      justify-content: center;
      width: 100%; }
      .Menu--language > a:not(:first-child) {
        display: none; }
    .Menu--language:hover > a {
      background-color: #000;
      display: flex; }
      .Menu--language:hover > a:first-child {
        height: 74px; }
      .Menu--language:hover > a:not(:first-child) {
        border: 1px solid #5f5f5f; }
      .Menu--language:hover > a:not(:last-child) {
        border-bottom: none; }
      .Menu--language:hover > a:hover {
        background-color: #202020; }

@media (min-width: 900px) {
  .Menu--burger {
    display: none; } }

@media (max-width: 899px) {
  .Menu {
    border: 1px solid #5f5f5f;
    padding: 0; }
    .Menu--content {
      display: none; }
    .Menu--burger {
      align-items: center;
      border-left: 1px solid #5f5f5f;
      display: flex;
      flex-flow: column;
      height: 75px;
      justify-content: space-around;
      padding: 1rem;
      width: 75px; }
      .Menu--burger span {
        background-color: #5f5f5f;
        display: inline-block;
        height: 3px;
        width: 100%;
        transition: transform 250ms ease; }
        .Menu--burger span:first-child {
          transform-origin: 0% 0%; }
        .Menu--burger span:nth-last-child(2) {
          transform-origin: 0% 100%; }
  input.Menu--mobile {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    height: 75px;
    width: 75px;
    z-index: 103; }
    input.Menu--mobile:checked + .Menu {
      align-items: flex-start;
      height: 100%; }
      input.Menu--mobile:checked + .Menu .Menu--logo,
      input.Menu--mobile:checked + .Menu .Menu--burger {
        position: relative;
        z-index: 2; }
      input.Menu--mobile:checked + .Menu .Menu--burger {
        right: 0; }
        input.Menu--mobile:checked + .Menu .Menu--burger span {
          background-color: #3ddee2;
          opacity: 1;
          transform: rotate(45deg) translate(-9px, -10px); }
          input.Menu--mobile:checked + .Menu .Menu--burger span:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2); }
          input.Menu--mobile:checked + .Menu .Menu--burger span:nth-last-child(2) {
            transform: rotate(-45deg) translate(-5px, 17px); }
      input.Menu--mobile:checked + .Menu .Menu--content {
        align-items: flex-end;
        background-color: #000;
        border-top: 1px solid #5f5f5f;
        display: flex;
        flex-flow: column;
        position: absolute;
        top: 75px;
        left: 0;
        right: 0;
        bottom: 0; }
        input.Menu--mobile:checked + .Menu .Menu--content .Menu--links {
          align-items: flex-start;
          display: flex;
          flex: 1;
          flex-flow: column;
          margin: 15% 0;
          width: 100%; }
          input.Menu--mobile:checked + .Menu .Menu--content .Menu--links a {
            border: none;
            flex: 1;
            font-size: 2rem;
            margin: 0;
            padding-left: 20px;
            width: 100%; }
            input.Menu--mobile:checked + .Menu .Menu--content .Menu--links a.active {
              color: #3ddee2; }
        input.Menu--mobile:checked + .Menu .Menu--content .Menu--language {
          bottom: 0;
          right: 0;
          top: auto;
          position: static; }
          input.Menu--mobile:checked + .Menu .Menu--content .Menu--language a {
            border-top: 1px solid #5f5f5f;
            display: flex; }
            input.Menu--mobile:checked + .Menu .Menu--content .Menu--language a.active {
              background-color: #202020; } }

.flexBox {
  display: flex;
  flex-flow: row;
  padding: 0; }
  @media (max-width: 899px) {
    .flexBox {
      flex-flow: column; } }
  .flexBox > .flex--item {
    flex: 1 1 50%; }
    .flexBox > .flex--item[flexBox-flex='1'] {
      flex: 1; }
    .flexBox > .flex--item[flexBox-flex='2'] {
      flex: 2; }
    .flexBox > .flex--item[flexBox-flex='3'] {
      flex: 3; }
    .flexBox > .flex--item[flexBox-flex='4'] {
      flex: 4; }
    .flexBox > .flex--item[flexBox-flex='5'] {
      flex: 5; }
  .flexBox[flex-align='center'] {
    align-items: center; }
  .flexBox[flex-align='flex-start'] {
    align-items: flex-start; }
  .flexBox[flex-justify='space-between'] {
    justify-content: space-between; }
    .flexBox[flex-justify='space-between'] > .flex--item:first-child {
      text-align: left; }
    .flexBox[flex-justify='space-between'] > .flex--item:last-child {
      text-align: right; }

.gridBox {
  display: grid; }

.border-box {
  border: 1px solid #5f5f5f;
  display: flex; }
  .border-box:not([border-items]) {
    padding: 1rem; }
    @media (min-width: 900px) {
      .border-box:not([border-items]) {
        padding: 30px 50px; } }
    @media (min-width: 900px) {
      .border-box:not([border-items]) {
        padding: 30px 50px; } }
  .border-box[border-items] .flex--item {
    flex: 1 1 50%;
    padding: 1rem; }
    .border-box[border-items] .flex--item[flexBox-flex='1'] {
      flex: 1; }
    .border-box[border-items] .flex--item[flexBox-flex='2'] {
      flex: 2; }
    .border-box[border-items] .flex--item[flexBox-flex='3'] {
      flex: 3; }
    .border-box[border-items] .flex--item[flexBox-flex='4'] {
      flex: 4; }
    .border-box[border-items] .flex--item[flexBox-flex='5'] {
      flex: 5; }
    @media (min-width: 900px) {
      .border-box[border-items] .flex--item {
        padding: 30px 50px; }
        .border-box[border-items] .flex--item:not(:first-child) {
          border-left: 1px solid #5f5f5f; } }
    @media (max-width: 899px) {
      .border-box[border-items] .flex--item {
        border-left: none;
        border-top: 1px solid #5f5f5f; } }
  @media (max-width: 899px) {
    .border-box {
      flex-flow: column; } }

.centered-box {
  display: flex;
  justify-content: center;
  align-items: center; }

.ContentBox {
  background-image: url("./imgs/content-box.png");
  padding: 15px;
  position: relative; }
  .ContentBox--box-title {
    color: #000;
    padding: 0 0 5px;
    display: block;
    font-size: 3rem;
    margin: 0; }
  .ContentBox--wrapper {
    border: 2px solid #017675;
    position: relative; }
  .ContentBox--content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; }
  .ContentBox:not(:last-child) {
    margin-right: 10px; }
  .ContentBox:not(:first-child) {
    margin-left: 10px; }
  .ContentBox .ContentBox--desc {
    font-size: 1rem;
    line-height: 1.6rem;
    color: #000;
    margin-right: 20px; }
  @media (min-width: 900px) {
    .ContentBox--wrapper {
      padding: 30px; }
    .ContentBox--link {
      position: absolute;
      bottom: 20px;
      left: 30px; } }
  .ContentBox[box-variant='product-image'] .ContentBox--wrapper {
    padding: 30px; }
  .ContentBox[box-variant='product'] .ContentBox--wrapper {
    padding: 30px 30px 70px;
    height: 100%; }
  .ContentBox:not([box-variant='product']) p {
    margin-bottom: 0; }
  @media (max-width: 899px) {
    .ContentBox {
      margin-bottom: 0.75rem; }
      .ContentBox:not(:last-child) {
        margin-right: 0; }
      .ContentBox:not(:first-child) {
        margin-left: 0; }
      .ContentBox--wrapper {
        padding: 1rem; }
      .ContentBox--content {
        display: block;
        margin-bottom: 0.75rem; }
        .ContentBox--content img {
          width: 50%;
          display: block;
          margin: 0 auto;
          height: 50%; }
      .ContentBox--link {
        display: block;
        text-align: center;
        width: 100%; } }
  .ContentBox p {
    color: #000; }

.ProductBox {
  background: #000;
  border: none;
  color: #fefefe;
  padding: 30px; }
  .ProductBox--title {
    align-items: center;
    display: flex;
    margin-bottom: 20px; }
    .ProductBox--title img {
      margin-right: 20px; }
    .ProductBox--title span {
      color: #fefefe;
      font-family: 'Bebas Neue';
      font-size: 3.5rem;
      padding: 20px 0 5px;
      white-space: break-spaces;
      width: 40%; }
  .ProductBox--desc {
    color: #fefefe; }
  .ProductBox p {
    color: #fefefe; }

.Article--preview {
  border-bottom: 3px solid #000;
  display: flex;
  padding: 50px;
  position: relative; }
  .Article--preview:first-of-type {
    border-top: 3px solid #000; }
  .Article--preview .header--solid {
    background-color: #3ddee2;
    color: #000; }
  .Article--preview:nth-child(odd) .header--solid {
    background-color: #000;
    color: #fefefe; }
  .Article--preview .perex {
    font-size: 1rem;
    line-height: 1.6rem;
    color: #000;
    margin: 0 50px; }
  .Article--preview .posted {
    color: #000;
    position: absolute;
    left: -50px;
    top: 50%;
    transform: rotate(-90deg); }
  @media (max-width: 899px) {
    .Article--preview {
      display: block;
      padding: 1rem 0; }
      .Article--preview .posted {
        position: static;
        transform: none;
        margin: 0.75rem 0; }
      .Article--preview .perex {
        display: none;
        margin: 0.75rem 0;
        text-align: justify; }
      .Article--preview img {
        width: 50%;
        display: block;
        margin: 0 auto; } }

.ToggleBox--toggler {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  outline: none; }
  .ToggleBox--toggler::after {
    color: #3ddee2;
    content: '＋';
    font-weight: 300;
    font-family: Jura;
    font-size: 3rem;
    margin-top: -5px; }
  .ToggleBox--toggler[data-active]::after {
    content: '-'; }

.ToggleBox--content {
  display: none; }

.ToggleBox--toggler.active + .ToggleBox--content {
  display: block; }

.w-12 {
  width: 50%; }

.w-13 {
  width: 33%; }

.w-14 {
  width: 25%; }

.w-15 {
  width: 20%; }

::placeholder {
  color: #979797;
  font-family: Jura, Helvetica;
  font-size: 17px;
  font-weight: 600;
  opacity: 1;
  text-transform: uppercase; }

:-ms-input-placeholder {
  color: #979797;
  font-family: Jura, Helvetica;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase; }

input {
  font-family: Jura, Helvetica;
  font-size: 17px;
  font-weight: 600;
  color: #fefefe; }

.form--item + .form--item {
  margin-top: 20px; }

.form--item label {
  display: block;
  line-height: 2rem; }
  .form--item label.required::after {
    content: '*';
    margin-left: 5px; }
  .form--item label.error {
    color: #bb4a4a; }

.form--item input,
.form--item select,
.form--item textarea {
  font-family: Jura, Helvetica;
  font-size: 17px;
  font-weight: 600;
  border: 1px solid #202020;
  color: #fefefe;
  background-color: #202020;
  padding: 10px;
  width: 100%; }
  @media (min-width: 900px) {
    .form--item input,
    .form--item select,
    .form--item textarea {
      width: 80%; } }
  .form--item input.error,
  .form--item select.error,
  .form--item textarea.error {
    border-color: #bb4a4a; }

.form--item textarea {
  height: 150px; }
  @media (min-width: 900px) {
    .form--item textarea {
      height: 250px; } }

@media (max-width: 899px) {
  .form--item button,
  .form--item .Button {
    text-align: center;
    width: 100%; } }

button,
.Button {
  background-color: #000;
  border: 1px solid #3ddee2;
  color: #3ddee2;
  cursor: pointer;
  display: inline-block;
  font-family: Jura, Helvetica;
  font-weight: bold;
  padding: 1rem 3rem;
  text-transform: uppercase;
  transition: background-color 250ms ease; }
  button:hover,
  .Button:hover {
    background-color: #fefefe;
    color: #000;
    border-color: #fefefe; }

a:hover {
  color: #3ddee2; }

@media (max-width: 899px) {
  a:not(.Button) {
    line-height: 2.5rem; } }

a.link {
  color: #000;
  font-weight: 400;
  text-decoration: underline;
  text-transform: uppercase; }
  a.link:hover {
    text-decoration: none; }

.header--solid:hover,
a:hover {
  background-color: transparent; }

.page[data-page='general'] header {
  border: none;
  padding: 50px; }
  @media (min-width: 900px) {
    .page[data-page='general'] header h1 {
      width: 50%; } }

@media (min-width: 900px) {
  .page[data-page='general'] footer {
    margin-top: 100px; } }

[data-page='where-to-buy'] header .header--wrapper {
  background: url("./imgs/covers/cover_where-to-buy.png") no-repeat right center;
  background-size: 50%; }

@media (max-width: 899px) {
  [data-page='where-to-buy'] header h1 span br {
    display: none; } }

@media (min-width: 900px) {
  [data-page='where-to-buy'] .subheader {
    align-items: flex-start;
    grid-template-columns: 30% 1fr;
    display: grid; } }

[data-page='where-to-buy'] .subheader a {
  color: #3ddee2;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.7rem; }
  @media (max-width: 899px) {
    [data-page='where-to-buy'] .subheader a {
      font-size: 1.5rem;
      line-height: 2.2rem; } }

[data-page='where-to-buy'] .content {
  margin: 20px; }
  [data-page='where-to-buy'] .content p {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.7rem; }
    @media (max-width: 899px) {
      [data-page='where-to-buy'] .content p {
        font-size: 1.5rem;
        line-height: 2.2rem; } }
  @media (min-width: 900px) {
    [data-page='where-to-buy'] .content {
      width: 50%;
      margin-left: calc(30% + 30px); } }
  @media (max-width: 899px) {
    [data-page='where-to-buy'] .content section:nth-child(2) {
      text-align: center; } }

[data-page='homepage'] header {
  background-image: url("./imgs/covers/cover_homepage.png"); }

[data-page='homepage'] section > .flex--item > p {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.7rem; }
  @media (max-width: 899px) {
    [data-page='homepage'] section > .flex--item > p {
      font-size: 1.5rem;
      line-height: 2.2rem; } }

@media (max-width: 899px) {
  [data-page='homepage'] .homepage__about-item {
    text-align: center; } }

[data-page='homepage'] .homepage__references > .flex--item {
  display: flex;
  flex: 2;
  padding: 30px 1.5rem; }
  [data-page='homepage'] .homepage__references > .flex--item:first-child {
    flex: 3; }
    [data-page='homepage'] .homepage__references > .flex--item:first-child p {
      font-size: 1.2rem;
      line-height: 1.7rem; }
  [data-page='homepage'] .homepage__references > .flex--item:not(:first-child) img {
    margin-right: 1.5rem; }
  [data-page='homepage'] .homepage__references > .flex--item:not(:first-child) p {
    flex: 1;
    font-size: 1rem;
    line-height: 1.6rem; }
    @media (max-width: 899px) {
      [data-page='homepage'] .homepage__references > .flex--item:not(:first-child) p {
        flex: 3; } }
    [data-page='homepage'] .homepage__references > .flex--item:not(:first-child) p span {
      display: block; }
    [data-page='homepage'] .homepage__references > .flex--item:not(:first-child) p b {
      font-family: "Bebas Neue";
      font-size: 1.7rem;
      line-height: 3rem; }
  [data-page='homepage'] .homepage__references > .flex--item .references--image {
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 60px;
    margin-right: 1.5rem;
    width: 50px; }
    @media (max-width: 899px) {
      [data-page='homepage'] .homepage__references > .flex--item .references--image {
        flex: 1; } }
  [data-page='homepage'] .homepage__references > .flex--item:nth-child(2) .references--image {
    background-image: url("./imgs/content/homepage/certified.png"); }
  [data-page='homepage'] .homepage__references > .flex--item:nth-child(3) .references--image {
    background-image: url("./imgs/content/homepage/countries.png");
    width: 60px; }
  [data-page='homepage'] .homepage__references > .flex--item:nth-child(4) .references--image {
    background-image: url("./imgs/content/homepage/affordable.png"); }

[data-page='homepage'] .articles {
  background: url("./imgs/article-bg.png");
  padding: 50px 50px 0; }
  [data-page='homepage'] .articles .expand-buttons .link {
    padding: 30px; }
  @media (max-width: 899px) {
    [data-page='homepage'] .articles {
      padding: 1rem; }
      [data-page='homepage'] .articles .expand-buttons .link {
        display: block;
        padding: 1rem 0 0; } }

[data-page='about'] header {
  background-image: url("./imgs/covers/cover_about.png"); }

[data-page='about'] .Content section > p {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.7rem; }
  @media (max-width: 899px) {
    [data-page='about'] .Content section > p {
      font-size: 1.5rem;
      line-height: 2.2rem; } }

[data-page='products'] header .header--wrapper {
  background: url("./imgs/covers/cover_products.png") no-repeat right center;
  background-size: contain; }

@media (min-width: 900px) {
  [data-page='products'] header + .subheader > *:first-child {
    margin: 0 auto;
    width: 50%; } }

[data-page='products'] .products--block > .flexBox:not(last-child) {
  margin-bottom: 50px; }

[data-page='products'] .products--block > .flexBox:nth-child(odd) .flex--item:first-child {
  order: 2; }

.filter-box {
  flex-flow: column; }
  @media (min-width: 900px) {
    .filter-box {
      flex-flow: row; } }
  .filter-box__category {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.7rem;
    color: #3ddee2;
    text-transform: uppercase; }
    @media (max-width: 899px) {
      .filter-box__category {
        font-size: 1.5rem;
        line-height: 2.2rem; } }
    @media (min-width: 900px) {
      .filter-box__category {
        margin-right: 50px; } }
  .filter-box__items {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap; }
    .filter-box__items li {
      margin-bottom: 20px;
      flex: 0 1 40%; }
      @media (min-width: 900px) {
        .filter-box__items li {
          margin-right: 20px; } }
    .filter-box__items a {
      font-size: 1.3rem;
      line-height: 2rem; }

[data-page='contact'] header .header--wrapper {
  background: url("./imgs/covers/cover_contact.png") no-repeat right center;
  background-size: contain; }

@media (max-width: 899px) {
  [data-page='contact'] header h1 span br {
    display: none; } }

@media (min-width: 900px) {
  [data-page='contact'] header + .subheader > *:first-child {
    margin: 0 auto;
    width: 50%; } }

@media (min-width: 900px) {
  [data-page='contact'] .contact__box {
    display: grid;
    grid-template-columns: 33% 1fr 1fr; } }

@media (max-width: 899px) {
  [data-page='contact'] .contact__box .flex--item > span {
    display: block;
    text-align: center; } }

[data-page='contact'] .contact__box .flex--item:first-child {
  flexBox-column: 1;
  font-size: 3rem;
  color: #5f5f5f; }
  @media (max-width: 899px) {
    [data-page='contact'] .contact__box .flex--item:first-child {
      border-top: none; } }

[data-page='contact'] .contact__box .flex--item:nth-child(3) {
  color: #3ddee2;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.7rem; }
  @media (max-width: 899px) {
    [data-page='contact'] .contact__box .flex--item:nth-child(3) {
      font-size: 1.5rem;
      line-height: 2.2rem; } }

[data-page='contact'] .contact__form > .flexBox {
  flex-flow: column; }

@media (min-width: 900px) {
  [data-page='contact'] .contact__form {
    grid-template-columns: 33% 1fr; } }

@media (max-width: 899px) {
  [data-page='contact'] .contact__form {
    border: none; }
    [data-page='contact'] .contact__form > .flexBox {
      border: none;
      padding: 1rem 0; } }

[data-page='blog'] header {
  display: none; }

[data-page='blog'] .content {
  margin-top: 0; }
  @media (max-width: 899px) {
    [data-page='blog'] .content {
      padding: 0; } }

@media (min-width: 900px) {
  [data-page='blog'] .articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 20px; } }

[data-page='blog'] .articles article {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 20px; }
  [data-page='blog'] .articles article .article__meta {
    padding: 30px; }
  [data-page='blog'] .articles article .article--title a:hover {
    background-color: #3ddee2;
    color: #000; }
  [data-page='blog'] .articles article .article--perex {
    margin: 50px 0 0; }
  @media (min-width: 900px) {
    [data-page='blog'] .articles article {
      border: 1px solid #5f5f5f; }
      [data-page='blog'] .articles article:first-of-type {
        flex-flow: row;
        grid-column: 1 / -1;
        padding: 50px 0 50px; }
        [data-page='blog'] .articles article:first-of-type .article--image,
        [data-page='blog'] .articles article:first-of-type .article__meta {
          flex: 1; }
        [data-page='blog'] .articles article:first-of-type .article--perex {
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 2.7rem; } }
      @media (min-width: 900px) and (max-width: 899px) {
        [data-page='blog'] .articles article:first-of-type .article--perex {
          font-size: 1.5rem;
          line-height: 2.2rem; } }

[data-page='blog-post'] .content {
  margin-top: 0; }

[data-page='blog-post'] header {
  padding: 0;
  border-bottom: none; }
  [data-page='blog-post'] header img {
    width: 100%; }

[data-page='blog-post'] .article-header {
  padding: 30px 1rem; }
  [data-page='blog-post'] .article-header h1 {
    border: none;
    color: #fefefe;
    font-size: 3rem;
    font-family: Helvetica;
    font-weight: 600;
    display: inline;
    line-height: 3rem; }
  @media (min-width: 900px) {
    [data-page='blog-post'] .article-header {
      border: 1px solid #5f5f5f;
      border-top: none;
      display: grid;
      grid-template-columns: 30% 1fr;
      align-items: center;
      padding: 50px; } }
  [data-page='blog-post'] .article-header p {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.7rem; }
    @media (max-width: 899px) {
      [data-page='blog-post'] .article-header p {
        font-size: 1.5rem;
        line-height: 2.2rem; } }

@media (min-width: 900px) {
  [data-page='blog-post'] .article--body {
    width: 50%;
    margin-left: calc(30% + 30px); } }

[data-page='blog-post'] .article--body h3 {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.7rem;
  margin: 50px 0; }
  @media (max-width: 899px) {
    [data-page='blog-post'] .article--body h3 {
      font-size: 1.5rem;
      line-height: 2.2rem; } }

[data-page='blog-post'] .article--body p {
  font-weight: 400;
  margin: 20px 0 0; }
  @media (min-width: 900px) {
    [data-page='blog-post'] .article--body p {
      margin: 50px 0 0; } }

.article--posted {
  color: #5f5f5f;
  display: block;
  line-height: 3rem; }
